:root {
    --c1: #22466b;
    --c2: #eca533;
    --c3: #d2d2d2;
    --fontfam1: "Roboto Mono", "SF Mono", "Fira Code" , "Fira Mono" ,monospace;
    --fontfam2: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --boxbr: 10px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

body {
    background-color: var(--c3);
    margin: 0;
    padding: 0;
}

.header {
    padding: 20px;
    font-family: var(--fontfam1);
    background-color: var(--c1);
    color: var(--c2);
    display: flex;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: var(--fontfam1);
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-family: var(--fontfam1);
    font-size: 20px;
    margin-left: 800px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header nav ul li a {
    color: var(--c3);
    text-decoration: none;
}

.header nav ul li a::before {
    content: "⚫️";
    font-family: cursive;
}

.aboutme {
    width: 80%;
    margin-left: 20px;
    display: flex;
    margin-top: 25px;
}

.imgbox {
    width: 300px;
    height: 300px;
    background-color: var(--c1);
    padding: 14px;
    border-radius: var(--boxbr);
    border: solid;
    border-color: var(--c2);
}


.aboutme img {
    width: 270px;
    height: 270px;
    border-radius: 140px;
    border: solid;
    border-color: var(--c2);
}

.aboutmebox {
    height: 300px;
    background-color: var(--c1);
    border-radius: var(--boxbr);
    width: 1540px;
    margin-left: 25px;
    padding: 15px;
    border: solid;
    border-color: var(--c2);
}

/*use for all h1 that isn't in header*/
.aboutme h1,
.mywork h1 {
    color: var(--c2);
    font-family: var(--fontfam2);
    font-size: 36px;
    margin-left: 25px;
    margin-bottom: 25px;
    text-decoration: underline;
}

.aboutme p {
    margin-left: 25px;
    margin-bottom: 25px;
    color: var(--c3);
    font-family: var(--fontfam1);
    font-size: 18px;
}

.mywork {
    background-color: var(--c1);
    margin: 25px 20px 0 20px;
    border-radius: var(--boxbr);
    border: solid;
    border-color: var(--c2);
    display: flex;
    flex-direction: column;
    position: relative;
}

.mywork a {
    text-decoration: none;
}

.mywork section {
    display: inline-block;
}

/* each new box default left is 20px, right side is 925px, each column down add 478 to top */
.box1 {
    font-family: var(--fontfam1);
    font-size: 18px;
    color: var(--c1);
    background-color: var(--c3);
    border-color: var(--c3);
    width: 160px;
    position: absolute;
    top: 50px;
    left: 20px;
    padding: 0 20px;
    z-index: 1;
}

.box2 {
    font-family: var(--fontfam1);
    font-size: 18px;
    color: var(--c1);
    background-color: var(--c3);
    border-color: var(--c3);
    width: 160px;
    position: absolute;
    top: 50px;
    left: 925px;
    padding: 0 20px;
    z-index: 1;
}

.box3 {
    font-family: var(--fontfam1);
    font-size: 18px;
    color: var(--c1);
    background-color: var(--c3);
    border-color: var(--c3);
    width: 160px;
    position: absolute;
    top: 528px;
    left: 20px;
    padding: 0 20px;
    z-index: 1;
}

.box4 {
    font-family: var(--fontfam1);
    font-size: 18px;
    color: var(--c1);
    background-color: var(--c3);
    border-color: var(--c3);
    width: 160px;
    position: absolute;
    top: 528px;
    left: 925px;
    padding: 0 20px;
    z-index: 1;
}

.static,
.gif {
    height: 450px;
    width: 800px;
    margin: 0 75px 25px 25px;
    border: solid;
    border-color: var(--c3);
}

.static {
    position: absolute;
}

.static:hover {
    opacity: 0;
    cursor:pointer;
}

.mywork img {
    height: 450px;
    width: 800px;
    margin: 0 75px 25px 25px;
    border: solid;
    border-color: var(--c3);
}

footer {
    padding: 15px;
    font-family: var(--fontfam1);
    background-color: var(--c1);
    color: var(--c3);
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

footer ul li {
    display: inline-block;
    margin-left: 25px;
}

footer ul li a {
    color: var(--c3);
    font-family: var(--fontfam1);
    text-decoration: none;
}

@media screen and (max-width: 992px) {
    .header {
        flex-direction: column;
    }

    .header nav {
        margin-left: 20px;
    }

    .aboutme {
        flex-direction: column;
    }

    .aboutmebox {
        margin-left: 0px;
        margin-top: 25px;
        width: 850px;
        height: 350px;
    }

    /* add 478 to top each row down and left 20px for even numbers */
    .box2 {
        top: 528px;
        left: 20px;
    }
    
    .box3 {
        top: 1006px;
    }
    
    .box4 {
        top: 1484px;
        left: 20px;
    }

}

@media screen and (max-width: 768px) {
    .aboutmebox {
        width: 705px;
        height: 360px;
    }
    
    .static,
    .gif,
    .mywork img {
    height: 365px;
    width: 650px;   
    }

    /* add 393 to top each row down add left 20px to each even number */
    .box2 {
        top: 443px;
        left: 20px;
    }

    .box3 {
        top: 836px;
    }

    .box4 {
        top: 1229px;
        left: 20px;
    }
}

@media screen and (max-width: 576px) {
    .header ul {
        display: flex;
        flex-direction: column;
    }

    .header ul li {
        margin-bottom: 10px;
    }

    .aboutmebox {
        width: 521px;
        height: 430px;
    }

    .static,
    .gif,
    .mywork img {
    height: 365px;
    width: 466px;   
    }

    footer ul {
        display: flex;
        flex-direction: column;
    }

    footer ul li {
        margin-bottom: 10px;
    }

}